<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    
    <!-- Log4j 演示  start-->
    <servlet>
 		<servlet-name>HostServlet</servlet-name>
 		<servlet-class>day09.HostServlet</servlet-class>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>HostServlet</servlet-name>
 		<url-pattern>/host</url-pattern>
 	</servlet-mapping>
    <!--  Log4j 演示  end -->
    
    
	<!--文件上传演示 start -->
    <!-- 
    <servlet>
	    <servlet-name>UploadServlet</servlet-name>
	    <servlet-class>day09.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
	    <servlet-name>UploadServlet</servlet-name>
	    <url-pattern>/servlet/UploadServlet</url-pattern>
    </servlet-mapping>  
    -->
    <!--文件上传演示 end -->
</web-app>